<div class="main-container">
  {{!-- <div class="row">
  </div> --}}
  <div class="row game">
    <div>
      {{!-- <h1>{{game}}</h1> --}}
      <image class="img" src="/images/{{game}}.png" height="{{height}}px" width="{{width}}px"></image>
    </div>
  </div>
</div>