<header>
  <nav class="nav-container">
    <div class="nav-sub-1">
      <div class="nav {{isIndexActive page}}">
        <a href="/">
          <image src="/images/nintendo_controller.png" height="200px" width="200px"></image>
        </a>
      </div>
      <div class="nav {{isSnesActive page}}">
        <a href="/snes">
          <image src="/images/super_nintendo_controller.png" height="200px" width="200px"></image>
        </a>
      </div>
      <div class="nav {{isN64Active page}}">
        <a href="/n64">
          <image src="/images/N64_controller.png" height="200px" width="200px"></image>
        </a>
      </div>
    </div>
  </nav>
</header>