/* ---=== Nav Bar ===--- */

.nav-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: #e5e5e5;
    /* background-color: #928b81; */
    margin: 1em;
    /* padding: 0 1em 0 1em; */
    font-size: 30px;
    border-bottom: 2em solid #a6a2a2;
}

.nav-sub-1 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    margin-bottom: -1em;
}

.nav {
    /* border: 1px solid black; */
    margin: 1em;
    /* background-color: #a6a2a2; */
    background-color: #e5e5e5;
    /* border: 3px solid #a6a2a2; */
    /* width: 5em; */
    /* Height: 150px; */
    /* color: #e5e5e5; */
    padding: 1em;
    /* border-radius: 5px; */
}

.nav:hover {
    cursor: pointer;
    background-color: #a6a2a2;
    /* color: #e5e5e5; */
    /* border: 3px solid #e5e5e5; */
}

.nav-active {
    margin: 1em;
    background-color: #a6a2a2;
    padding: 1em;
    /* border-radius: 5px; */
}


/* .nav-active:hover {
    background-color: ##a6a2a2;
} */

.nav-sub-2 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    width: 15em;
    height: 4em;
    border-radius: 1em;
}


/* ---=== Main Body ===--- */

.main-container {
    margin: 2em;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
    background-color: #e5e5e5;
}

.img {
    padding: 3em 0;
}

.img:hover {
    cursor: pointer;
}